<div class=notice><%=flash[:notice] %></div>
<h1>Items</h1>
<h2>Armor</h2>
<table id=items>
  <tr>
    <th>Name</th>
    <th>Required Level</th>
    <th>Description</th>
    <th>Required Class</th>
    <th>Slot</th>
    <th>Armor</th>
  </tr>
  <% for item in @Armor %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.minlevel %></td>
      <td><%= item.description %></td>
      <td><%= item.player_class %></td>
      <td><%= item.slot %></td>
      <td><%= item.minstat %></td>
      <td><%= link_to "Show", item %></td>
      <td><%= link_to "Edit", edit_item_path(item) %></td>
      <td><%= link_to "Destroy", item, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<h2>Weapons</h2>
<table id=items>
  <tr>
    <th>Name</th>
    <th>Required Level</th>
    <th>Description</th>
    <th>Required Class</th>
    <th>Slot</th>
    <th>Damage</th>
  </tr>
  <% for item in @Weapon %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.minlevel %></td>
      <td><%= item.description %></td>
      <td><%= item.player_class %></td>
      <td><%= item.slot %></td>
      <td><%= item.minstat %></td>
      <td><%= link_to "Show", item %></td>
      <td><%= link_to "Edit", edit_item_path(item) %></td>
      <td><%= link_to "Destroy", item, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<h2>Other</h2>
<table id=items>
  <tr>
    <th>Name</th>
    <th>Required Level</th>
    <th>Description</th>
    <th>Required Class</th>
    <th>Slot</th>
  </tr>
  <% for item in @Other %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.minlevel %></td>
      <td><%= item.description %></td>
      <td><%= item.player_class %></td>
      <td><%= item.slot %></td>
      <td><%= link_to "Show", item %></td>
      <td><%= link_to "Edit", edit_item_path(item) %></td>
      <td><%= link_to "Destroy", item, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Item", new_item_path %></p>
